@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem-to-px($value) {
  @if unit($value) == 'rem' {
    @return strip-unit($value) * 16px;
  }
  @return $value;
}
@function fz($mivw: 400px, $mavw: 1500px, $mifz: 1rem, $mafz: 4rem) {
  $min-font-px: strip-unit(rem-to-px($mifz));
  $max-font-px: strip-unit(rem-to-px($mafz));
  $min-vw-px: strip-unit($mivw);
  $max-vw-px: strip-unit($mavw);
  $slope: ($max-font-px - $min-font-px) / ($max-vw-px - $min-vw-px) * 100;
  $intercept-px: $min-font-px - ($slope * $min-vw-px / 100);
  $intercept-rem: $intercept-px / 16;
  $slope-rounded: round($slope * 10000) / 10000;
  $intercept-rounded: round($intercept-rem * 10000) / 10000;
  
  @return clamp(#{$mifz}, #{$intercept-rounded}rem + #{$slope-rounded}vw, #{$mafz});
}
