extends layout/_base.pug

block title
  title Bideford Baptist Church | Contact us

block content
  .contact-us
    main
      .randombox.contact
        .boxtitle Contact Us
        .textContent
          form.contact-form(action="#" method="post")
            label(for="name") Name (So we can address you.)
            input#name(type="text" placeholder="Your Name" required)
            
            label(for="email") Email (So we can reply to your message.)
            input#email(type="email" placeholder="you@example.com" required)
            
            label(for="message") Message
            textarea#message(placeholder="Your message..." required)
            
            button(type="submit") Send Message
