extends layout/_base.pug
block title
	title Bideford Baptist Church | Devotional
block content
	.randombox
		.boxtitle Daily Devotional
		.textContent Nourish your spirit each day with reflection, prayer, and scripture. Use this devotional resource to grow closer to God and strengthen your walk of faith.
		img.devotional(src="https://www.bidefordbaptist.org.uk/content/pages/uploaded_images/23.jpg")
		a.button(href="https://ellel.uk/seeds/" target="_blank") Visit the Daily Devotional