extends layout/_base.pug
block title
  title Bideford Baptist Church | Events
block content
  .main-title
    h1.title Upcomming Events
  .pagecontent 
    p Torridge Baptist Celebration - 05/10/2025<br>00:00 to 00:00

    p Evening with Alan - 11/10/2025<br>00:00 to 00:00

    p Remembrance Day - 09/11/2025<br>00:00 to 00:00