extends layout/_base.pug

block title
  title Bideford Baptist Church | Events

block content
  .events
    .main-title
      h1.title Upcoming Events
    .pagecontent(style="--event-bg: rgba(255,255,255,0.95); --event-text: #000;")
      //- Event 1
      .event-container
        p.event Torridge Baptist Celebration - 05/10/2025<br>Starts at 18:30 / 6:30pm
        .event-details Harvest Sunday Night of Hope at Appledore Baptist Church – Join us for a special evening of celebration and gratitude, and experience the joy of community as we gather together in faith. Be inspired by uplifting worship and heartfelt prayers, and celebrate the blessings of the harvest season with friends and family. Share in stories of hope and encouragement that brighten the spirit, and enjoy music, reflection, and a warm, welcoming atmosphere. This is a night to give thanks, connect, and be reminded of God’s love. Everyone is welcome to join in this memorable celebration.

      //- Event 2
      .event-container
        p.event Evening with Alan - 11/10/2025<br>Starts at 19:00 / 7:00pm
        .event-details
          img.event-img(src="an-evening-with-alan-poster.png", alt="Evening with Alan Poster")

      //- Event 3
      .event-container
        p.event Remembrance Day Service - 09/11/2025<br>Starts at 10:30 / 10:30am
        .event-details Come and join us for our Remembrance Day service, a heartfelt occasion where we gather together as a community to honor and remember all those who have served and sacrificed for our freedom. Through moments of reflection, prayer, and shared remembrance, we pay tribute to their courage and dedication. The service will include readings, prayers, music and more. Whether you come to remember loved ones, to give thanks, or simply to be part of this meaningful tradition, all are welcome to join in this solemn and inspiring time of commemoration.
