extends layout/_base.pug
block title
  title Bideford Baptist Church | Events
block content
  .main-title
    h1.title Upcomming Events
  .pagecontent 
    p Torridge Baptist Celebration - 05/10/2025<br>Starts at 18:30

    p Evening with Alan - 11/10/2025<br>Starts at 19:00

    p Remembrance Day Service - 09/11/2025<br>10:30 to 11:45
