extends layout/_base.pug

block title
  title Bideford Baptist Church | Events

block content
  .october-events
    .main-title
      h1.title Upcoming Events for Febuary
    .pagecontent(style="--event-bg: rgba(255,255,255,0.95); --event-text: #000;")

      //.event-container
        //p.event NAME - DATE<br> Starts at TIME
        //.event-details DETAILS
      a We have no events for Febuary.