extends layout/_base.pug

block title
  title Bideford Baptist Church | Images

block content
  .images
    img(src="images/img1.jpeg")
    img(src="images/img2.jpeg")
    img(src="images/img3.jpeg")
    img(src="images/img4.jpeg")
    img(src="images/img5.jpeg")

  #overlay
    img


