extends layout/_base.pug
block title
  title Bideford Baptist Church | Home
block content
  .main-title
    h1.title Bideford Baptist Church
    .subtext The house that welcomes, loves, and accepts us exactly as we are.
  .main-content
  .welcoming Welcome home
