extends layout/_base.pug
block title
  title Bideford Baptist Church | Home
block content
  .main-title
    h1.title Bideford Baptist Church
    .subtext The house that welcomes, loves, and accepts us exactly as we are.
    .subtext Registered Charity number 1214897.
  .main-content
  .welcoming Welcome home
  .times Our services start at 10:30.
  .times Open every morning for prayer and sanctuary.
  .address Mill Street <br> Bideford <br> EX39 2JR