extends layout/_base.pug

block title
  title Bideford Baptist Church | Links

block content
  main
    .randombox
      .boxtitle Useful Links
      .links
        .link-container
          a(href="https://bmsworldmission.org/llovering" target="_blank") BMS World Mission
        .link-container
          a(href="https://www.christianaid.org.uk/" target="_blank") Christian Aid
        .link-container
          a(href="https://www.capuk.org/" target="_blank") Christians Against Poverty
        .link-container
          a(href="https://www.facebook.com/BidefordBaptistChurch" target="_blank") Facebook - Bideford Baptist Church
        .link-container
          a(href="http://www.harbourbideford.co.uk/" target="_blank") Harbour
        .link-container
          a(href="https://www.opendoorsuk.org/" target="_blank") Open Doors
        .link-container
          a(href="https://www.samaritans-purse.org.uk/what-we-do/operation-christmas-child" target="_blank") Samaritan's Purse - Operation Christmas Child
        .link-container
          a(href="https://www.swbaptists.org.uk/" target="_blank") SWBA (South West Baptist Association)
        .link-container
          a(href="https://www.streetpastors.org/" target="_blank") Street Pastors
