extends layout/_base.pug

block title
  title Bideford Baptist Church | Events

block content
  .october-events
    .main-title
      h1.title Upcoming Events for November
    .pagecontent(style="--event-bg: rgba(255,255,255,0.95); --event-text: #000;")

      .event-container
        p.event Morning Service - Sunday 2nd<br> Starts at 10:30
        .event-details Join us for a time of reflection, prayer and worship. The service will include readings, prayers, music and more.

      .event-container
        p.event Bible Study - Monday 3rd<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 5th<br> Starts at 14:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Rememberance Service - Sunday 9th<br> Starts at 10:30
        .event-details Come and join us for our Remembrance Day service, a heartfelt occasion where we gather together as a community to honor and remember all those who have served and sacrificed for our freedom. Through moments of reflection, prayer, and shared remembrance, we pay tribute to their courage and dedication. The service will include readings, prayers, music and more. Whether you come to remember loved ones, to give thanks, or simply to be part of this meaningful tradition, all are welcome to join in this solemn and inspiring time of commemoration.

      .event-container
        p.event Bible Study - Monday 10th<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 12th<br> Starts at 14:00
        .event-details An informative look into the word of God.
