extends layout/_base.pug

block title
  title Bideford Baptist Church | Events

block content
  .october-events
    .main-title
      h1.title Upcoming Events for November
    .pagecontent(style="--event-bg: rgba(255,255,255,0.95); --event-text: #000;")

      .event-container
        p.event Prayer Breakfast - Saturday 1st<br> Starts at 09:00
        .event-details Join us for a Prayer Breakfast in the Top Hall. Enjoy a relaxed morning filled with encouragement, reflection, and prayer. Everyone is welcome - come as you are and start your day with faith and friendship. A perfect opportunity to connect, pray, and be refreshed together.

      .event-container
        p.event Morning Service - Sunday 2nd<br> Starts at 10:30
        .event-details Join us for a time of reflection, prayer and worship. The service will include readings, prayers, music and more.

      .event-container
        p.event Bible Study - Monday 3rd<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 5th<br> Starts at 14:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Rememberance Service - Sunday 9th<br> Starts at 10:30
        .event-details Come and join us for our Remembrance Day service, a heartfelt occasion where we gather together as a community to honor and remember all those who have served and sacrificed for our freedom. Through moments of reflection, prayer, and shared remembrance, we pay tribute to their courage and dedication. The service will include readings, prayers, music and more. Whether you come to remember loved ones, to give thanks, or simply to be part of this meaningful tradition, all are welcome to join in this solemn and inspiring time of commemoration.

      .event-container
        p.event Bible Study - Monday 10th<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 12th<br> Starts at 14:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Prayer Meeting - Thursday 13th<br> Starts at 07:00
        .event-details Join us for our fortnightly Prayer Meeting, a peaceful time of reflection, worship, and fellowship. Together, we lift up our community, our church, and one another in heartfelt prayer. Whether you’re seeking comfort, giving thanks, or standing in faith with others, this gathering offers a warm and welcoming space for all. Come experience the power of united prayer and spiritual renewal. Everyone is welcome to join.

      .event-container
        p.event Prayers and Fasting - Thursday 27th<br> All Day
        .event-details Join us for our Prayers and Fasting event — a dedicated time to seek God’s presence, strengthen our faith, and grow in spiritual discipline. Through prayer, reflection, and fasting, we humble ourselves before God, inviting His guidance, healing, and renewal in our lives. This is a sacred opportunity to deepen your relationship with Him and align your heart with His will. Everyone is encouraged to participate as we unite in faith and devotion. We also have communion at 07:00.

      .event-container
        p.event Advent Sunday - Sunday 30th<br> Starts at 10:30
        .event-details First Sunday in advent, lighting of the first advent candle.