extends layout/_base.pug

block title
  title Bideford Baptist Church | Events

block content
  .october-events
    .main-title
      h1.title Upcoming Events for October
    .pagecontent(style="--event-bg: rgba(255,255,255,0.95); --event-text: #000;")

      .event-container
        p.event Prayer Walk - Tuesday 14th<br> Starts at 17:00
        .event-details A walk around the town praying for the residents of Bideford.

      .event-container
        p.event Bible Study - Wednesday 15th<br> Starts at 14:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Outreach on the Forecourt - Saturday 18th<br> Starts at 10:00
        .event-details Prayers in the lighthouse room followed by outreach on the forecourt and healing tent.

      .event-container
        p.event Morning Service - Sunday 19th<br> Starts at 10:30
        .event-details Join us for a time of reflection, prayer and worship. The service will include readings, prayers, music and more.

      .event-container
        p.event Bible Study - Monday 20th<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 22nd<br> Starts at 14:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Morning Service - Sunday 26th<br> Starts at 10:30
        .event-details Join us for a time of reflection, prayer and worship. The service will include readings, prayers, music and more.

      .event-container
        p.event Bible Study - Monday 27th<br> Starts at 19:00
        .event-details An informative look into the word of God.

      .event-container
        p.event Bible Study - Wednesday 29th<br> Starts at 14:00
        .event-details An informative look into the word of God.